<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
      </ul>
      <ul>

        <div style="padding-top: 20%;">
              <a routerLink="./">
                <img src="assets/svg/notifications-outline.svg" width="30px" height="30px" style="padding-right: 10%;">
              </a>
              <a routerLink="./">
              <img src="assets/svg/list-outline.svg" width="35px" height="35px" style="padding-right: 10%;">
              </a>
              <a routerLink="./">
                <img src="assets/svg/mail-open-outline.svg" width="35px" height="35px" style="padding-right: 10%;">
              </a>
              <!--<a routerLink="./">
                <img src="assets/svg/Foto_.jpg" width="35px" height="35px"  class="rounded-circle" style="padding-right: 1%;">

              </a>
              <div class="dropdown border-top"> <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> <img src="assets/svg/Foto_.jpg" alt="mdo" width="35" height="35" class="rounded-circle"> </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>

        </div>
    </ul>
    </div>

  </div>


</nav>
-->